<div class="post_details">
  <div class="detail-container border">
    <div class="post_header">
      <p><%= @post.title %> by <%= @post.author.name%></p>
      <p class="aside">comment: <%= @post.comments.count %>, likes: <%= @post.likes.count %></p>
    </div>
    <div class="post_content">
      <p>
      <%= @post.text %>
      </p>  
    </div>
    <%= form_with model: @like, url: user_post_likes_path(post_id: @post.id) do |form| %>
      <%= form.submit "Like", class: "like-btn border" %>
    <%end%>
  </div>
  <div class="comments border">
    <% if @post.most_recent_comments.empty? %>
        <p>No comment for this post</p>
    <% else %>
      <% @post.most_recent_comments.each do |comment| %>
        <p><%= comment.author.name %>  :<%= comment.text %></p>
      <% end %>
    <% end %>
  </div>
  <div class="border comment_link">
    <%= link_to "Add a comment", new_user_post_comment_path(post_id: @post.id) %>
  </div>
</div>
