<div class="post_details">
  <div class="detail-container border">
    <div class="post_header">
      <p><%= @post.title %> by <%= @post.user.name%></p>
      <p class="aside">comment: <%= @post.comments.count %>, likes: <%= @post.likes.count %></p>
    </div>
    <div class="post_content">
      <p>
      <%= @post.text %>
      </p>  
    </div>
    <%= form_with model: @like, url: user_post_likes_path(post_id: @post.id) do |form| %>
      <%= form.submit "Like", class: "like-btn border" %>
    <%end%>
    <% if can? :destroy, @post %>
      <%= button_to "Delete Post", root_path(@post.id), method: :delete, class:"border" %>
    <% end %>
  </div>
  <div class="comments border">
    <% if @post.most_recent_comments.empty? %>
        <p>No comment for this post</p>
    <% else %>
      <% @post.most_recent_comments.each do |comment| %>
        <p><%= comment.user.name %>  :<%= comment.text %></p>
        <% if can? :destroy, comment %>
          <%= button_to "Delete", user_post_comment_path(@post.user, @post, comment), method: :delete %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="border comment_link">
    <%= link_to "Add a comment", new_user_post_comment_path(post_id: @post.id) %>
  </div>
</div>
