<div class="post_details">
  <div class="detail-container border">
    <div class="post_header">
      <p><%= @post.title %> by <%= @post.author.name%></p>
      <p class="aside">comment: <%= @post.comments.count %>, likes: <%= @post.likes.count %></p>
    </div>
    <div class="post_content">
      <p>
      <%= @post.text %>
      </p>  
    </div>
  </div>
  <div class="comments border">
    <% if @post.most_recent_comments.empty? %>
        <p>No comment for this post</p>
    <% else %>
      <% @post.most_recent_comments.each do |comment| %>
        <p><%= comment.author.name %>  :<%= comment.text %></p>
      <% end %>
    <% end %>
  </div>
</div>
